@model Player
<h1>Adding Product Data</h1>
<hr>
@using(Html.BeginForm())
{
    <div>
        <div>
            @Html.DisplayNameFor(m=>m.Id)
            @Html.EditorFor(m=>m.Id)
            @Html.ValidationMessageFor(m=>m.Id)
        </div>
        <div>
            @Html.DisplayNameFor(m=>m.Name)
            @Html.EditorFor(m=>m.Name)
            @Html.ValidationMessageFor(m=>m.Name)

        </div>
        <div>
            @Html.DisplayNameFor(m=>m.Category)
            @Html.EditorFor(m=>m.Category)
            @Html.ValidationMessageFor(m=>m.Category)

        </div>
        <div>
            @Html.DisplayNameFor(m=>m.BiddingAmount)
            @Html.EditorFor(m=>m.BiddingAmount)
            @Html.ValidationMessageFor(m=>m.BiddingAmount)

        </div>
    </div>
    <br>
    <input type='submit' value='Save'>
}