@model Player

<h2>Deleting Player </h2>
<p>@Html.DisplayNameFor(p=>p.Id) :  @Html.DisplayFor(p=>p.Id)</p>
<p>@Html.DisplayNameFor(p=>p.Name) :  @Html.DisplayFor(p=>p.Name)</p>
<p>@Html.DisplayNameFor(p=>p.Category) :  @Html.DisplayFor(p=>p.Category)</p>

<p>@Html.DisplayNameFor(p=>p.BiddingAmount) :  @Html.DisplayFor(p=>p.BiddingAmount)</p>


<hr>
@using (Html.BeginForm())
{
    <input type="submit" value="DeleteConfirmed ?" style="background-color:red;">
}
@Html.ActionLink("Back to Index","Index")