@model IEnumerable<Team,Player>

    <h1>Show Players</h1>

    <table class='table'>

        <thead>
            <th>@Html.DisplayNameFor(m=>m.Id)</th>
            <th>@Html.DisplayNameFor(m=>m.Name)</th>
            <th>@Html.DisplayNameFor(m=>m.Category)</th>
            <th>@Html.DisplayNameFor(m=>m.TeamId)</th>

            <th>@Html.DisplayNameFor(m=>m.BiddingAmount)</th>

        </thead>

        <tbody>

            <td>
             @foreach (var item in @Model)
             {
            <tr>
                <td>@Html.DisplayFor(e=>item.Id)</td>
                <td>@Html.DisplayFor(e=>item.Name)</td>
                <td>@Html.DisplayFor(e=>item.Category)</td>
                <td>@Html.DisplayFor(e=>item.TeamId)</td>

                <td>@Html.DisplayFor(e=>item.BiddingAmount)</td>
            </tr>
             }
            </td>
        </tbody>

    </table>