@model IEnumerable<Team>

    <h1>Show Teams</h1>

    <table class='table'>

        <thead>
            <th>@Html.DisplayNameFor(m=>m.Id)</th>
            <th>@Html.DisplayNameFor(m=>m.TeamName)</th>
            
            <th>Edit</th>
            <th>Delete</th>
        </thead>

        <tbody>
             
             @foreach (var item in @Model)
             {
                <tr>
                <td>@item.Id</td>
                <td>@item.TeamName</td>
                
                <td>@Html.ActionLink("Edit","Edit","Team")</td>
                <td>@Html.ActionLink("Delete","Delete","Team")</td>



                

                </tr>
             }
             

            
        </tbody>

    </table>