@model IEnumerable<Team>

    <h1>Show Teams</h1>

    <table class='table'>

        <thead>
            <th>@Html.DisplayNameFor(m=>m.Id)</th>
            <th>@Html.DisplayNameFor(m=>m.TeamName)</th>
            <th>Players</th>
           

        </thead>

        <tbody>
            

            
             @foreach (var item in @Model)
             {
                <tr>
                <td>@item.Id</td>
                <td>@item.TeamName</td>
                <td>@Html.ActionLink("Players","Index","Player")</td>
                </tr>
             }
             

            
        </tbody>
    
    </table>